<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head') %>

  <body>
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header Container
================================================== -->
      <header id="header-container" class="fullwidth transparent">
        <!-- Header -->
        <div id="header">
          <div class="container">
            <!-- Left Side Content -->
            <div class="left-side">
              <!-- Logo -->
              <div id="logo">
                <a href="index.html"><img src="images/logo.png" alt="" /></a>
              </div>

              <!-- Main Navigation -->
              <nav id="navigation">
                <ul id="responsive"></ul>
              </nav>
              <div class="clearfix"></div>
              <!-- Main Navigation / End -->
            </div>
            <!-- Left Side Content / End -->

            <!-- Right Side Content / End -->
            <div class="right-side">
              <div class="header-widget">
                <a href="/login" class="log-in-button"
                  ><i class="icon-feather-log-in"></i>
                  <span>Log In / Register</span></a
                >
              </div>

              <!-- Mobile Navigation Button -->
              <span class="mmenu-trigger">
                <button class="hamburger hamburger--collapse" type="button">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </button>
              </span>
            </div>
            <!-- Right Side Content / End -->
          </div>
        </div>
        <!-- Header / End -->
      </header>
      <div class="clearfix"></div>
      <!-- Header Container / End -->

      <!-- Titlebar
================================================== -->
      <div id="titlebar" class="gradient">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2>Log In</h2>

              <!-- Breadcrumbs -->
              <nav id="breadcrumbs" class="dark">
                <ul>
                  <li><a href="#">Home</a></li>
                  <li>Log In</li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>

      <!-- Page Content
================================================== -->
      <div class="container">
        <div class="row">
          <div
            class="col-xl-5"
            style="
              background-image: url(/images/register_image.jpg);
              background-size: 100%;
            "
          ></div>
          <div class="col-xl-5 offset-xl-1">
            <div class="login-register-page">
              <!-- Welcome Text -->
              <div class="welcome-text">
                <h3>We're glad to see you again!</h3>
                <span
                  >Don't have an account? <a href="register">Sign Up!</a></span
                >
              </div>

              <!-- Form -->
              <form
                method="post"
                id="login-form"
                action="/login"
                class="margin-bottom-20"
              >
                <div class="input-with-icon-left">
                  <i class="icon-material-baseline-mail-outline"></i>
                  <input
                    type="text"
                    class="input-text with-border"
                    name="email"
                    id="email"
                    placeholder="Email Address"
                    required
                  />
                </div>

                <div class="input-with-icon-left">
                  <i class="icon-material-outline-lock"></i>
                  <input
                    type="password"
                    class="input-text with-border"
                    name="password"
                    id="password"
                    placeholder="Password"
                    required
                  />
                </div>
                <a href="#" class="forgot-password">Forgot Password?</a>
              </form>

              <% if (message.length) { %>
              <div class="notification error closeable">
                <p><%= message %></p>
                <a class="close" href="#"></a>
              </div>
              <% } %>

              <!-- Button -->
              <button
                class="
                  button
                  full-width
                  button-sliding-icon
                  ripple-effect
                  margin-top-10
                "
                type="submit"
                form="login-form"
                style="background-color: #f7315d"
              >
                Log In <i class="icon-material-outline-arrow-right-alt"></i>
              </button>

              <!-- Social Login -->
              <div class="social-login-separator"><span>or</span></div>
              <div class="social-login-buttons">
                <button class="facebook-login ripple-effect">
                  <i class="icon-brand-facebook-f"></i> Log In via Facebook
                </button>
                <button class="google-login ripple-effect">
                  <i class="icon-brand-google-plus-g"></i> Log In via Google+
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Spacer -->
      <div class="margin-top-70"></div>
      <!-- Spacer / End-->

      <%- include('./components/footer') %>
    </div>
    <!-- Wrapper / End -->

    <%- include('./components/scripts') %>
  </body>
</html>
