<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head') %>

  <body>
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header Container
================================================== -->
      <header id="header-container" class="fullwidth transparent">
        <!-- Header -->
        <div id="header">
          <div class="container">
            <!-- Left Side Content -->
            <div class="left-side">
              <!-- Logo -->
              <div id="logo">
                <a href="index.html"><img src="images/logo.png" alt="" /></a>
              </div>

              <!-- Main Navigation -->
              <nav id="navigation">
                <ul id="responsive"></ul>
              </nav>
              <div class="clearfix"></div>
              <!-- Main Navigation / End -->
            </div>
            <!-- Left Side Content / End -->

            <!-- Right Side Content / End -->
            <div class="right-side">
              <div class="header-widget">
                <a href="/register" class="log-in-button"
                  ><i class="icon-feather-log-in"></i>
                  <span>Log In / Register</span></a
                >
              </div>

              <!-- Mobile Navigation Button -->
              <span class="mmenu-trigger">
                <button class="hamburger hamburger--collapse" type="button">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </button>
              </span>
            </div>
            <!-- Right Side Content / End -->
          </div>
        </div>
        <!-- Header / End -->
      </header>
      <div class="clearfix"></div>
      <!-- Header Container / End -->
      <!-- Titlebar
================================================== -->
      <div id="titlebar" class="gradient">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2>Register</h2>

              <!-- Breadcrumbs -->
              <nav id="breadcrumbs" class="dark">
                <ul>
                  <li><a href="#">Home</a></li>
                  <li>Register</li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>

      <!-- Page Content
================================================== -->
      <div class="container">
        <div class="row">
          <div
            class="col-xl-5"
            style="
              background-image: url(/images/register_image.jpg);
              background-size: 100%;
              background-repeat: no-repeat;
            "
          ></div>
          <div class="col-xl-5 offset-xl-1">
            <div class="login-register-page">
              <!-- Welcome Text -->
              <div class="welcome-text">
                <h3 style="font-size: 26px">Let's create your account!</h3>
                <span
                  >Already have an account? <a href="login">Log In!</a></span
                >
              </div>

              <!-- Form -->
              <form
                method="post"
                id="register-account-form"
                class="margin-bottom-20"
              >
                <div class="input-with-icon-left">
                  <i class="icon-material-outline-person-pin"></i>
                  <input
                    type="text"
                    class="input-text with-border"
                    name="name"
                    id="txt_name"
                    placeholder="Name"
                    required
                  />
                </div>

                <div class="input-with-icon-left">
                  <i class="icon-material-baseline-mail-outline"></i>
                  <input
                    type="text"
                    class="input-text with-border"
                    name="email"
                    id="txt_email"
                    placeholder="Email Address"
                    required
                  />
                </div>

                <div
                  class="input-with-icon-left"
                  title="Should be at least 8 characters long"
                  data-tippy-placement="bottom"
                >
                  <i class="icon-material-outline-lock"></i>
                  <input
                    type="password"
                    class="input-text with-border"
                    name="password"
                    id="txt_password"
                    placeholder="Password"
                    required
                  />
                </div>

                <div class="input-with-icon-left">
                  <i class="icon-material-outline-lock"></i>
                  <input
                    type="password_repeat"
                    class="input-text with-border"
                    name="passwordRepeat"
                    id="txt_password_repeat"
                    placeholder="Repeat Password"
                    required
                  />
                </div>

                <!-- Account Type -->
                <div id="acc_type" class="account-type" onclick="show(event)">
                  <div>
                    <input
                      type="radio"
                      name="accountType"
                      id="freelancer-radio"
                      class="account-type-radio"
                      value="work"
                    />
                    <label for="freelancer-radio" class="ripple-effect-dark"
                      ><i class="icon-material-outline-account-circle"></i> I
                      want to Work</label
                    >
                  </div>

                  <div>
                    <input
                      type="radio"
                      name="accountType"
                      id="employer-radio"
                      class="account-type-radio"
                      value="hire"
                    />
                    <label for="employer-radio" class="ripple-effect-dark"
                      ><i class="icon-material-outline-business-center"></i> I
                      want to Hire</label
                    >
                  </div>
                </div>

                <!-- User Type -->
                <div
                  id="user_type"
                  class="account-type mfp-hide"
                  onclick="show(event)"
                >
                  <div>
                    <input
                      type="radio"
                      name="userType"
                      id="individual-radio"
                      class="account-type-radio"
                      value="individual"
                    />
                    <label for="individual-radio" class="ripple-effect-dark"
                      ><i class="icon-material-outline-account-circle"></i> As
                      Individual</label
                    >
                  </div>

                  <div>
                    <input
                      type="radio"
                      name="userType"
                      id="entity-radio"
                      class="account-type-radio"
                      value="entity"
                    />
                    <label for="entity-radio" class="ripple-effect-dark"
                      ><i class="icon-material-outline-business-center"></i> As
                      Entity / Organisation</label
                    >
                  </div>
                </div>
              </form>

              <% if (message.length) { %>
              <div class="notification error closeable">
                <p><%= message %></p>
                <a class="close" href="#"></a>
              </div>
              <% } %>

              <!-- Button -->

              <button
                id="btn_register"
                class="
                  button
                  full-width
                  button-sliding-icon
                  ripple-effect
                  margin-top-10
                "
                type="submit"
                form="register-account-form"
                style="background-color: #f7315d"
              >
                Register <i class="icon-material-outline-arrow-right-alt"></i>
              </button>

              <!-- Social Login -->
              <!-- <div class="social-login-separator"><span>or</span></div>
              <div class="social-login-buttons">
                <button class="facebook-login ripple-effect">
                  <i class="icon-brand-facebook-f"></i> Register via Facebook
                </button>
                <button class="google-login ripple-effect">
                  <i class="icon-brand-google-plus-g"></i> Register via Google+
                </button>
              </div> -->
            </div>
          </div>
        </div>
      </div>

      <!-- Spacer -->
      <div class="margin-top-70"></div>
      <!-- Spacer / End-->

      <%- include('./components/footer') %>
    </div>
    <!-- Wrapper / End -->

    <%- include('./components/scripts') -%>
    <script>
      let user_type, acc_type;

      function show(e) {
        const isChecked = $(e.target).is(":checked");
        if (isChecked) {
          $("#user_type").removeClass("mfp-hide");
          return;
        }
      }

      $("#acc_type").on("click", function (e) {
        acc_type = e.target.value;
      });

      $("#user_type").on("click", function (e) {
        user_type = e.target.value;
      });

      function onSubmit() {
        if (acc_type == "hire") {
          window.location = "job-post";
          return;
        }
        if (user_type == "individual") {
          window.location = "/individual/personal";
          return;
        }
        if (user_type == "entity") {
          window.location = "/entity/details";
          return;
        }
      }
    </script>
  </body>
</html>
