<div class="col-xl-10 offset-xl-1">
  <div class="dashboard-box">
    <!-- Headline -->
    <div class="headline">
      <div class="row" style="padding-inline: 15px">
        <h3 class="margin-top-10">
          <i class="icon-material-outline-business-center"></i> My Educational
          Details
        </h3>
        <a
          href="#small-dialog"
          class="button ripple-effect popup-with-zoom-anim"
          style="margin-left: auto; background-color: #f7315d"
          >Add Education</a
        >
      </div>
    </div>

    <div class="content">
      <ul id="ul_edu" class="boxed-list">
        <li>
          <div class="boxed-list-item">
            <!-- Avatar -->
            <div class="item-image">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Education%2C_Studying%2C_University%2C_Alumni_-_icon.png/600px-Education%2C_Studying%2C_University%2C_Alumni_-_icon.png"
                alt=""
              />
            </div>

            <!-- Content -->
            <div class="item-content">
              <h4>Bachelors of Computer Applications</h4>
              <div class="item-details margin-top-7">
                <div class="detail-item">
                  <a href="#"
                    ><i class="icon-material-outline-date-range"></i> 2020</a
                  >
                </div>
                <div class="detail-item">
                  <i class="icon-material-outline-assignment"></i> 60% - Grade D
                </div>
              </div>
              <div class="item-description">
                <p>Indra Gandhi National Open University</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="col-xl-10 offset-xl-1">
  <div class="dashboard-box">
    <!-- Headline -->
    <div class="headline">
      <div class="row" style="padding-inline: 15px">
        <h3 class="margin-top-10">
          <i class="icon-material-outline-business-center"></i> My Professional
          Details
        </h3>
        <a
          href="#small-dialog-1"
          class="button ripple-effect popup-with-zoom-anim"
          style="margin-left: auto; background-color: #f7315d"
          >Add Professional</a
        >
      </div>
    </div>

    <div class="content">
      <ul id="ul_prof" class="boxed-list-ul">
        <li>
          <div class="boxed-list-item">
            <!-- Avatar -->
            <div class="item-image">
              <img
                src="https://pic.onlinewebfonts.com/svg/img_311588.png"
                alt=""
              />
            </div>

            <!-- Content -->
            <div class="item-content">
              <h4>Peofessional</h4>
              <div class="item-details margin-top-7">
                <div class="detail-item">
                  <a href="#"
                    ><i class="icon-material-outline-date-range"></i> Date of
                    enroll</a
                  >
                </div>
                <div class="detail-item">
                  <i class="icon-material-outline-assignment"></i> memership no.
                </div>
              </div>
              <div class="item-description">
                <p>University</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Add Education popup
================================================== -->
<div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">
  <!--Tabs -->
  <div class="sign-in-form">
    <ul class="popup-tabs-nav">
      <li><a href="#tab">Add Education</a></li>
    </ul>

    <div class="popup-tabs-container">
      <!-- Tab -->
      <div class="popup-tab-content" id="tab">
        <!-- Welcome Text -->
        <div class="welcome-text">
          <h3>Education Details</h3>
        </div>

        <!-- Form -->
        <form method="post" id="add-note">
          <div class="row">
            <div class="col-md-6">
              <select
                id="ddl_qual"
                class="selectpicker with-border default margin-bottom-20"
                data-size="7"
                title="Qualification"
              >
                <option value="Graduation">Graduation</option>
                <option value="Post. Graducation">Post. Graducation</option>
              </select>
            </div>
            <div class="col-md-6">
              <input
                id="txt_passing"
                type="text"
                class="with-border"
                placeholder="Passing Year"
              />
            </div>
            <div class="col-md-6">
              <input
                id="txt_obtained"
                type="text"
                class="with-border"
                placeholder="% Obtained"
              />
            </div>
            <div class="col-md-6">
              <input
                id="txt_grade"
                type="text"
                class="with-border"
                placeholder="Grade/Class"
              />
            </div>
            <div class="col-md-12">
              <input
                id="txt_clg"
                type="text"
                class="with-border"
                placeholder="College/University"
              />
            </div>
            <div class="col-md-12">
              <textarea
                id="txt_edu_remarks"
                name="textarea"
                cols="10"
                placeholder="Remarks, if any"
                class="with-border"
              ></textarea>
            </div>
          </div>
        </form>

        <!-- Button -->
        <button
          class="button full-width button-sliding-icon ripple-effect"
          type="button"
          onclick="addEducation(this);"
        >
          Add Education <i class="icon-material-outline-arrow-right-alt"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Add Education popup / End -->

<!-- Add Professional popup
================================================== -->
<div id="small-dialog-1" class="zoom-anim-dialog mfp-hide dialog-with-tabs">
  <!--Tabs -->
  <div class="sign-in-form">
    <ul class="popup-tabs-nav">
      <li><a href="#tab">Add Professional</a></li>
    </ul>

    <div class="popup-tabs-container">
      <!-- Tab -->
      <div class="popup-tab-content" id="tab">
        <!-- Welcome Text -->
        <div class="welcome-text">
          <h3>Professional Details</h3>
        </div>

        <!-- Form -->
        <form method="post" id="add-note">
          <div class="row">
            <div class="col-md-12">
              <input
                id="txt_prof_qual"
                type="text"
                class="with-border"
                placeholder="Professional  Qualification"
              />
            </div>
            <div class="col-md-12">
              <input
                id="txt_institute"
                type="text"
                class="with-border"
                placeholder="Institute/ Professional Body"
              />
            </div>
            <div class="col-md-6">
              <input
                id="txt_mem_no"
                type="text"
                class="with-border"
                placeholder="Membership No"
              />
            </div>
            <div class="col-md-6">
              <input
                id="txt_doa"
                type="text"
                class="with-border"
                placeholder="Date of enrolment"
              />
            </div>
            <div class="col-md-12">
              <textarea
                name="textarea"
                cols="10"
                placeholder="Remarks, if any"
                class="with-border"
              ></textarea>
            </div>
          </div>
        </form>

        <!-- Button -->
        <button
          class="button full-width button-sliding-icon ripple-effect"
          type="button"
          onclick="addProfessional(this);"
        >
          Add Professional <i class="icon-material-outline-arrow-right-alt"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  function addEducation(elem) {
    const container = $(elem).parent();
    const qual = container.find("#ddl_qual").val();
    const passing = container.find("#txt_passing").val();
    const obtained = container.find("#txt_obtained").val();
    const grade = container.find("#txt_grade").val();
    const clg = container.find("#txt_clg").val();

    $("#ul_edu").append(` <li>
          <div class="boxed-list-item">
            <!-- Avatar -->
            <div class="item-image">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Education%2C_Studying%2C_University%2C_Alumni_-_icon.png/600px-Education%2C_Studying%2C_University%2C_Alumni_-_icon.png"
                alt=""
              />
            </div>

            <!-- Content -->
            <div class="item-content">
              <h4>${qual}</h4>
              <div class="item-details margin-top-7">
                <div class="detail-item">
                  <a href="#"
                    ><i class="icon-material-outline-date-range"></i> ${passing}</a
                  >
                </div>
                <div class="detail-item">
                  <i class="icon-material-outline-assignment"></i> ${obtained}% - Grade ${grade}
                </div>
              </div>
              <div class="item-description">
                <p>${clg}</p>
              </div>
            </div>
          </div>
        </li>`);
  }

  function addProfessional(elem) {
    const container = $(elem).parent();
    const qual = container.find("#txt_prof_qual").val();
    const institute = container.find("#txt_institute").val();
    const mem_no = container.find("#txt_mem_no").val();
    const doa = container.find("#txt_doa").val();

    $("#ul_prof").append(` <li>
          <div class="boxed-list-item">
            <!-- Avatar -->
            <div class="item-image">
              <img
                src="https://pic.onlinewebfonts.com/svg/img_311588.png"
                alt=""
              />
            </div>

            <!-- Content -->
            <div class="item-content">
              <h4>${qual}</h4>
              <div class="item-details margin-top-7">
                <div class="detail-item">
                  <a href="#"
                    ><i class="icon-material-outline-date-range"></i> ${doa}</a
                  >
                </div>
                <div class="detail-item">
                  <i class="icon-material-outline-assignment"></i> ${mem_no}
                </div>
              </div>
              <div class="item-description">
                <p>${institute}</p>
              </div>
            </div>
          </div>
        </li>`);
  }
</script>
