<div class="col-xl-10 offset-xl-1">
  <div class="dashboard-box">
    <!-- Headline -->
    <div class="headline">
      <div class="row" style="padding-inline: 15px">
        <h3 class="margin-top-10">
          <i class="icon-material-outline-business-center"></i> My Work
          Experience
        </h3>
        <a
          href="#small-dialog-4"
          class="button ripple-effect popup-with-zoom-anim"
          style="margin-left: auto; background-color: #f7315d"
          >Add Experience</a
        >
      </div>
    </div>

    <div class="content">
      <ul class="boxed-list-ul">
        <li>
          <div class="boxed-list-item">
            <!-- Avatar -->
            <div class="item-image">
              <img
                src="https://pic.onlinewebfonts.com/svg/img_311588.png"
                alt=""
              />
            </div>

            <!-- Content -->
            <div class="item-content">
              <h4>Peofessional</h4>
              <div class="item-details margin-top-7">
                <div class="detail-item">
                  <a href="#"
                    ><i class="icon-material-outline-date-range"></i> Date of
                    enroll</a
                  >
                </div>
                <div class="detail-item">
                  <i class="icon-material-outline-assignment"></i> memership no.
                </div>
              </div>
              <div class="item-description">
                <p>University</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="col-xl-10 offset-xl-1">
  <div class="dashboard-box">
    <!-- Headline -->
    <div class="headline">
      <h3 class="margin-top-10">
        <i class="icon-material-outline-business-center"></i> Additonal Details
      </h3>
    </div>

    <div class="content">
      <ul class="fields-ul">
        <li>
          <div class="row">
            <div class="col-xl-8">
              <div class="submit-field">
                <h5>
                  Are you registration with CBDT under Wealth Tax Act, 1957
                </h5>
              </div>
            </div>

            <div class="col-xl-1 offset-xl-2">
              <div class="checkbox">
                <input type="checkbox" id="chekcbox3" checked />
                <label for="chekcbox3"
                  ><span class="checkbox-icon"></span> Yes</label
                >
              </div>
            </div>

            <div class="col-xl-1">
              <div class="checkbox">
                <input type="checkbox" id="chekcbox4" />
                <label for="chekcbox4"
                  ><span class="checkbox-icon"></span> No</label
                >
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-md-4">
              <div class="submit-field">
                <h5>Registration Number</h5>
                <input
                  type="text"
                  class="with-border"
                  ="e.g. build me a website"
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="submit-field">
                <h5>Date of Registration</h5>
                <input
                  type="text"
                  class="with-border"
                  ="e.g. build me a website"
                />
              </div>
            </div>
          </div>
        </li>
        <!-- <li>
          <div class="row">
            <div class="col-md-4">
                <div class="submit-field">
                  <h5>
                    Number of years in practice or of work experience in
                    the relevant profession or in valuation
                  </h5>
                </div>
              </div>

              <div class="col-md-2">
                <div class="submit-field">
                  <input
                    type="text"
                    class="with-border"
                    ="e.g. build me a website"
                  />
                </div>
              </div>
              <div class="col-xl-3">
                <div class="submit-field">
                  <h5>Are you presently in</h5>
                </div>
              </div>
              <div class="col-xl-1">
                <div class="checkbox">
                  <input type="checkbox" id="chekcbox1" checked />
                  <label for="chekcbox1"
                    ><span class="checkbox-icon"></span> Practice</label
                  >
                </div>
              </div>

              <div class="col-xl-1">
                <div class="checkbox">
                  <input type="checkbox" id="chekcbox2" />
                  <label for="chekcbox2"
                    ><span class="checkbox-icon"></span>
                    Employment</label
                  >
                </div>
              </div>
            </div>
        </li> -->

            
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Add Education popup
  ================================================== -->
<div id="small-dialog-4" class="zoom-anim-dialog mfp-hide dialog-with-tabs">
  <!--Tabs -->
  <div class="sign-in-form">
    <ul class="popup-tabs-nav">
      <li><a href="#tab">Add Experience</a></li>
    </ul>

    <div class="popup-tabs-container">
      <!-- Tab -->
      <div class="popup-tab-content" id="tab">
        <!-- Welcome Text -->
        <div class="welcome-text">
          <h3>Work Experience Details</h3>
        </div>

        <!-- Form -->
        <form method="post" id="add-note">
          <div class="row">
            <div class="col-md-6">
              <select
                class="selectpicker with-border default margin-bottom-20"
                data-size="7"
                title="Employment / Practice"
              >
                <option>Employment</option>
                <option>Practice</option>
              </select>
            </div>
            <div class="col-md-6">
              <input type="text" class="with-border" placeholder="Experience" />
            </div>
            <div class="col-md-6">
              <input
                type="text"
                class="with-border"
                placeholder="Name of Employer"
              />
            </div>
           
            <div class="col-md-6">
              <input
                type="text"
                class="with-border"
                placeholder="Designation"
              />
            </div>
           
            <div class="col-md-6">
              <input
                type="text"
                class="with-border"
                placeholder="Valuation Sector"
              />
            </div>
            <div class="col-md-6">
              <input
                type="text"
                class="with-border"
                placeholder="Specialization"
              />
            </div>
            <div class="col-md-12">
              <textarea
                name="textarea"
                cols="10"
                placeholder="Remarks, if any"
                class="with-border"
              ></textarea>
            </div>
          </div>
        </form>

        <!-- Button -->
        <button
          class="button full-width button-sliding-icon ripple-effect"
          type="submit"
          form="add-note"
        >
          Add Experience <i class="icon-material-outline-arrow-right-alt"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Add Education popup / End -->

<!-- <div class="col-xl-8 offset-xl-2 d-flex flex-row">
    <a
      href="valuation"
      class="button ripple-effect big margin-top-30"
      style="margin-left: auto; background-color: #f7315d"
      >Save & Next</a
    >
  </div> -->
